.home-banner-container{
	position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
	z-index: 3;
	
	#home-banner{
		display: flex;
		align-items: center;
		background:top center url(/img/home-banner-bg.jpg) no-repeat;
		height: calc(100vh + 64px);
		h1{
			font-family: $header-font-family;
			font-weight: 400;
			font-style: normal;
			font-size: 65px;
			line-height: 70px;
		}
	}
}
.home-banner-after{
	margin-top: calc(100vh);
}
.section{
	padding: 50px 0 !important;
	.section-title{
		text-align: center;
		font-size: 44px;
		line-height: 55px;
		margin-bottom: 50px;
		font-family: Oswald, sans-serif;
		font-weight: 700;
	}
}

.sprite-icon{
	margin-bottom: 20px;
	display: inline-block;
	background: url(/img/sprite-old.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
	text-align: left;
	
	&.icon-promote{
		background-position: -10px -458px;
		width: 49px;
		height: 44px;
	}
	&.icon-collaborate{
		background-position: -10px 0;
		width: 70px;
		height: 44px;
	}
	&.icon-avoid-disputes{
		background-position: -10px -404px;
		width: 52px;
		height: 44px;
	}
}

.check-list{
	padding: 0 !important;
	list-style: none;
	li{
		position: relative;
		position: relative;
		padding-left: 35px;
		padding-top: 2px;
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 30px;
		&::before{
			content: "";
			position: absolute;
			z-index: 9;
			left: 0;
			top: 8px;
			background: url(/img/sprite-old.png) no-repeat;
			background-position: -42px -512px;
			background-position-x: -42px;
			background-position-y: -512px;
			width: 20px;
			height: 21px;
			display: inline-block;
			overflow: hidden;
			text-indent: -9999px;
			text-align: left;
		}
	}
}

.happy-customers{
	list-style-type: none;
	li{
		display: inline-block;
		vertical-align: middle;
		margin: 22px;
		opacity: 1;
		transition: .5s;
		img{
			max-width: 140px;
		}
	}
	
}